# Django
asgiref==3.5.0
Django==4.0.4
sqlparse==0.4.2
tzdata==2022.1
# DRF
djangorestframework==3.13.1
pytz==2022.1
# Autopep8
autopep8==1.6.0
pycodestyle==2.8.0
toml==0.10.2
# cors
django-cors-headers==3.11.0