{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/news.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/header.css' %}">
    <title>Бухта Кодера - Новости</title>
</head>

<body>
    {% include 'main/header.html' %}

    <div class="layout-page">
        <div class="layout-page-width">
            <div class="page">
                <div class="nav">
                    {% for el in page.object_list %}
                    <div class="content">

                        <span class="date-publish"> Дата публикации: {{ el.date }}</span>
                        <div>
                            <h1 class="name-publish">
                                <span class="text-news">{{el.title |linebreaks}}</span>
                            </h1>
                        </div>

                        <div class="inform-publish">
                            <div>
                                <div class="anons-publish">{{el.anons |linebreaks}}</div>
                            </div>
                            <a class="learn-more" href="{% url 'news-detail'  el.id %}">Читать далее</a>
                        </div>
                    </div>
                    {% endfor%}
                    <div class="paginator">
                        {% if page.has_previous %}
                        <a class="paginator_ref" href="?page={{ page.previous_page_number }}">
                            <span class="paginator-text"> << </span>
                        </a>
                        {% endif %}

                        <div class="paginator_pages">
                            {% for i in count_list%}
                            <a class="paginator_ref" href="{% url 'news' %}?page={{ i }}">
                                {{i}}
                            </a>
                            {% endfor %}
                        </div>
                        
                        {% if page.has_next %}
                        <a class="paginator_ref" href="{% url 'news' %}?page={{ page.next_page_number }}">
                            <span class="paginator-text"> >> </span>
                        </a>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>